<%- include("./partials/header") %>

<!-- Sign-In Form -->
<form method="POST" action="sign_in">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>

  <div class="form-group">
      <label for="avatar">Avatar URL</label>
      <input type="url" class="form-control" name="avatar" id="avatar" placeholder="https://i.imgur.com/qM6KaEy.gif">
  </div>

  <button type="submit" class="btn btn-outline-secondary btn-lg float-right">Sign In</button>
</form>

<%- include("./partials/footer") %>